main {
    height: 100vh;
    width: 100vw;
}
#boxroxa {
	height:60vh ;
    width:80vw ;

    position: absolute;
    left: 11vw;
    top: 22vh;
    margin: auto;
    padding: 10px;

    background: #AC80A0;
    border-bottom: 0.4vh solid #2D3648;
    border-right: 0.4vh solid #2D3648;

    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 20vh 20vh 20vh;
	gap: 2px;
	row-gap: 2px;
    column-gap: 10px;
}

.grid1 {
    grid-column: 1;
    grid-row: 1;
    margin: auto;
}
.grid2 {
    grid-column-start:2;
    grid-row-start: 1;
    grid-row-end: 4;
}
.grid3 {
    grid-column:3;
	grid-row-start: 1;
	grid-row-end: 3;
    margin: auto;
}

.grid5 {
    grid-column:3;
    grid-row: 3;
    margin: auto;
}

.grid6 {
    grid-column:1;
    grid-row: 3;
    margin: auto;

}

.fotos2,
.fotos {
	z-index: 2;
    border: #0D1317;
    border-style:groove;
    border-width:3px ;
    border-bottom-left-radius: 50px;
    border-top-right-radius:50px;
    width: 24vw;
    z-index: 10;

}
.fotoAnf {
	border: #0D1317;
    border-style:groove;
    border-width:3px ;
    border-top-left-radius: 50px;
    border-bottom-right-radius:50px;
    width: 20vw;
    margin: auto;
    transform: translate(10%,0);
}

.txtInfo, li, .nomeAnf {
    font-family: 'Roboto Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #3A3A3C;
    width: 30vw;

}

p {
    font-family: 'Roboto Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 130%;
}

.nomeAnf {
    text-decoration: underline;
    font-size: 32px;
}

#btConfirmar {
    height:3em;
    width: 7em;
    cursor: pointer;

}


.btSeletor {

    border-radius: 100%;
    cursor: pointer;
    width: 2vw;
    height: 4vh;
}

#btsofia {
    width: 100px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 30vw;

}

#btvera {
    width: 100px;
    height: 100px;
    background-color: #9c0c0c;
    position: absolute;
    left: 50vw;

}
