#boxroxa {
	height:60vh ;
    width:80vw ;

    position: absolute;
    left: 11vw;
    top: 22vh;
    margin: auto;
    padding: 10px;

    background: #AC80A0;
    border-bottom: 0.4vh solid #2D3648;
    border-right: 0.4vh solid #2D3648;

    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 20vh 20vh 20vh;
	gap: 2px;
	row-gap: 2px;
}

.grid1 {
    grid-column: 1;
    grid-row: 1;
    background-color: blue;
}
.grid2 {
    grid-column: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: blue;
}
.grid3 {
    grid-column:;
	grid-row-start: 1;
	grid-row-end: 3;
    background-color: blue;
}


.grid5 {
    grid-column:5;
    grid-row: 3;
    background-color: blue;
}



.fotos {
	z-index: 2;
    border: #0D1317;
    border-style:groove;
    border-width:3px ;
    border-bottom-left-radius: 50px;
    border-top-right-radius:50px;
    width: 24vw;




}
.fotoAnf {
	border: #0D1317;
    border-style:groove;
    border-width:3px ;
    border-top-left-radius: 50px;
    border-bottom-right-radius:50px;
    width: 20vw;
}

.txtInfo, li, .nomeAnf {
    font-family: 'Roboto Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #3A3A3C;
    width: 25vw;

}

.nomeAnf {}

#btConfirmar {
    height:3em;
    width: 7em;
    cursor: pointer;

}